

.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #13b7bd;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:disabled {
    opacity: 0.6;
}

.btn.primary {
    color: rgb(11, 9, 161);
    background: -webkit-linear-gradient(180deg, var(--primary-color), var(--secondary-color));
    font-size: 16px;
    font-weight: bold;
    
}

.btn.secondary {
    background: rgb(140, 168, 209);
    color: var(--primary-text);
    font-size: 10px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .btn {
        padding: 20px 40px;
    }

    .btn.primary {
        font-size: 24px;
    }

    .btn.secondary {
        font-size: 16px;
    }
}
