<app-header></app-header>

<h2 class="nome">Fellipe Barnabé Alves</h2>

<div>
  <h1 class="titulo">Currículo</h1>

  <h2 class="subtitulo">Experiência Profissional em Administração 2013 - 2019</h2>
  <p class="Exp-prossional">Empresa: Confecção de fardamentos linha dupla (Goiana, Pernambuco).</p>
  <ul class="lista">
    <li>Registro e organização de documentos administrativos.</li>
    <li>Atendimento a telefonemas e clientes.</li>
    <li>Apoio na gestão de estoque.</li>
    <li>Cooperação na elaboração de relatórios e planilhas.</li>
    <li>Utilização de Corel Draw para vetorização de banners, imagens e bordados.</li>
    <li>Execução de outras tarefas relacionadas à administração conforme necessário.</li>
    <li>Utilização do Microsoft Excel e outras planilhas para elaboração de relatórios e análises.</li>
  </ul>
  <h2 class="habilidades-computacao">Habilidades em computação</h2>
  <ul class="itens-habilidades-computacao">
    <li>Conhecimento avançado em HTML, CSS e JavaScript.</li>
    <li>Experiência prática com o framework React.</li>
    <li>Proficiência em Git e controle de versão: My GitHub: <a
        href="https://github.com/FellipeBarnabe">github.com/FellipeBarnabe</a>.</li>
    <li>Noções básicas de design e layout.</li>
    <li>Uso eficaz de ferramentas de desenvolvimento “IDE”, como Visual Studio Code.</li>
    <li>Experiência em pré-processadores CSS.</li>
    <li>Treinamento básico em SalesForce.</li>
  </ul>
  <h2 class="cursos-programação">Cursos na área de computação</h2>
  <ul class="itens-cursos-programacao">
    <li>Curso: Lógica de Programação em C#.<br>Institução: Udemy.</li>
    <li>Curso: Módulo Front-End (Programação Javascript, HTML, CSS, REACT, Git e GitHub) 400h.<br>Instituição: BootCamp
      Trybe.</li>
    <li>training de Salesforce Administrator.<br>Empresa: Sottelli (Campinas, São Paulo).</li>
  </ul>

  <h2 class="formacao-academica">Formação Acadêmica</h2>
  <ul>
    <li class="item1-formacao-academica">Graduado em bacharelado em Filosofia.<br>Instituição: Universidade Federal da
      Paraíba.</li>

  </ul>
</div>
<app-contatc></app-contatc>