.app-header {
    position: relative; 
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-cv {
    position: relative; 
    z-index: 1; 
}
