 <div class ="container"><h3>Experiência Profissional</h3>
  <section *ngFor="let section of resumeSectionList">
    <span class ="office">{{ section.role }}</span>
    <h4 class ="function">{{ section.position }}</h4>
    <span class ="period">{{ section.period }}</span>
  
    <ul class ="profissional-list">
      <li *ngFor="let activity of section.activityList">{{ activity }}</li>
    </ul>
  </section>


<h3>Educação</h3>
<section *ngFor="let section of educationSectionList">
  <span class ="course">{{ section.course }}</span>
  <h4 class ="institution">{{ section.institution }}</h4>
  <span class ="period">{{ section.period }}</span>

  <ul>
    <li class="activity-list" *ngFor="let activity of section.activityList">{{ activity }}</li>
  </ul>
</section>
</div>