.container {
    margin-top: 12.8rem;
    margin-left: 4.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container>div {
    width: 10.5rem;
    display: flex;
    justify-content: space-around;
}

.redDot {
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--vermelho-primario);
    border-radius: 50%;
}

.container>h1 {
    font-size: 8.125rem;
}

.container>h2 {
    font-size: 4rem;
}

.container>p {

    margin-top: 6.875rem;
    font-weight: 400;
    font-size: 1.875rem;
}
