
<header class="app-header">
    <div class="logo-cv">
        <img ngSrc="/assets/logoCV.jpg" alt="logoCV" priority width="200" height="200">
    </div>
    <div class="foto-fellipe">
        <img ngSrc="./assets/fotoFellipe.png" alt="fotoFellipe" priority width="180" height="200">
    </div>
    <div class = "linkedin-link">
        <a href="https://www.linkedin.com/in/fellipe-barnab%C3%A9-b584b3277/" target="_blank" rel="linkedinlink">
            <img ngSrc="/assets/linkedin.png" alt="linkedin" priority width="50" height="50">
        </a>
    </div>
    <div class="instagram-link">
        <a href="https://www.instagram.com/fellipebarnabe/?next=%2F&hl=pt-br" target="_blank" rel="instagramlink">
            <img ngSrc="/assets/instagram.png" alt="instagram" priority width="50" height="50">
        </a>
    </div>
</header>
