<section class="form-section pad-70">
    <div class="text">
        <h2>Impulsione sua equipe com meu potencial!</h2>
        <p>Se você está buscando um talento dedicado e ávido por aprendizado para impulsionar sua equipe de desenvolvimento, você acaba de encontrar! Como aspirante a programador júnior, estou pronto para mergulhar de cabeça em desafios e contribuir com minha paixão pela tecnologia. Meu currículo reflete não apenas minhas habilidades técnicas, mas também minha determinação em me destacar nesta indústria dinâmica. Ao me dar a oportunidade, prometo não apenas atender, mas superar suas expectativas. Juntos, podemos construir algo verdadeiramente excepcional. Estou ansioso para fazer parte da sua equipe e crescer junto com a sua empresa!</p>
    </div>
    <form [formGroup]="newsletterForm">
    <label for="email">Name</label>
    <input id="name" formControlName="name">
    <label for="email">Email</label>
    <input id="email" formControlName="email">
    <btn-primary btn-text="fale comigo" variant="secondary"></btn-primary>
</form>
</section>