:root {
  --vermelho-primario: #eb5b40;
  --line_color: #1b1919;
  --back_color: #f18d7b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

div.column_left,
div.column_right{
    display: flex;
}
